# Feature Types

Tabular data (`pd.DataFrame`), as discussed previously, is made up of observations (rows) and features (columns). Data type (`df.dtypes`) of features fall into two primary categories: **numeric** and **categorical**.

There also exists a third special category of data type called **missing**. Missing data is a special data type because it is not a data type at all. It is a placeholder for a value that is not known or not applicable. Missing data is represented by `NaN` (not a number) in pandas. More on missing data in a bit.

<img src="https://raw.githubusercontent.com/fahadsultan/datascience_ml/main/assets/featuretypes.png">

To study these feature types, we will use the **dataset of food safety scores** for restaurants in San Francisco. The scores and violation information have been made available by the San Francisco Department of Public Health.

In [12]:
# How to inspect values that a feature/column takes on? 

data['risk'] = data['risk'].replace({'High Risk': 3, 'Moderate Risk': 2, 'Low Risk':1})

In [ ]:
type_encoded = pd.get_dummies(data['type'])
type_encoded.sum(axis=1)

# Dataframe with a single row that 
# would sum up each type (Complaints etc.)

# Julian: would sum each row

In [22]:

merged = pd.merge(data, type_encoded, right_index=True, left_index=True)

,id,zip,phone,lat,lng,type,score,risk,violation,Complaint,New Construction,New Ownership,Reinspection/Followup,Routine - Unscheduled
0,70064,94103.0,1.415565e+10,NaN,NaN,Routine - Unscheduled,75.0,3.0,Improper reheating of food,0,0,0,0,1
1,90039,94103.0,NaN,NaN,NaN,Routine - Unscheduled,81.0,3.0,High risk food holding temperature,0,0,0,0,1
2,89059,94115.0,1.415369e+10,NaN,NaN,Complaint,NaN,NaN,NaN,1,0,0,0,0
3,91044,94112.0,NaN,NaN,NaN,Routine - Unscheduled,84.0,2.0,Inadequate and inaccessible handwashing facili...,0,0,0,0,1
4,62768,94122.0,NaN,37.765421,-122.477256,Routine - Unscheduled,90.0,1.0,Food safety certificate or food handler card n...,0,0,0,0,1
5,3972,94103.0,NaN,37.786476,-122.404852,Reinspection/Followup,NaN,NaN,NaN,0,0,0,1,0
6,95188,94133.0,NaN,NaN,NaN,New Construction,NaN,NaN,NaN,0,1,0,0,0
7,94103,94102.0,NaN,NaN,NaN,New Ownership,NaN,NaN,NaN,0,0,1,0,0
8,94542,94132.0,NaN,NaN,NaN,Routine - Unscheduled,92.0,2.0,Inadequate and inaccessible handwashing facili...,0,0,0,0,1
9,93615,94107.0,1.415574e+10,NaN,NaN,Routine - Unscheduled,100.0,NaN,NaN,0,0,0,0,1
10,1296,94112.0,1.415559e+10,37.761743,-122.421492,Routine - Unscheduled,83.0,1.0,Unclean or degraded floors walls or ceilings,0,0,0,0,1
11,35221,94133.0,NaN,37.796026,-122.406202,Routine - Unscheduled,90.0,2.0,Foods not protected from contamination,0,0,0,0,1
12,38808,94122.0,NaN,37.763603,-122.477497,Routine - Unscheduled,69.0,1.0,Unclean nonfood contact surfaces,0,0,0,0,1
13,85947,94103.0,1.415022e+10,NaN,NaN,Routine - Unscheduled,84.0,2.0,Foods not protected from contamination,0,0,0,0,1
14,96936,94103.0,1.415528e+10,NaN,NaN,New Ownership,NaN,3.0,Unclean or unsanitary food contact surfaces,0,0,1,0,0
15,76914,94111.0,NaN,NaN,NaN,Routine - Unscheduled,83.0,2.0,Insufficient hot water or running water,0,0,0,0,1
16,1830,94133.0,NaN,37.801616,-122.412137,Reinspection/Followup,NaN,NaN,NaN,0,0,0,1,0
17,6619,94133.0,NaN,37.795788,-122.408834,Routine - Unscheduled,86.0,2.0,Moderate risk vermin infestation,0,0,0,0,1
18,83524,94109.0,1.415550e+10,NaN,NaN,Routine - Unscheduled,100.0,NaN,NaN,0,0,0,0,1
19,21583,94109.0,1.415944e+10,37.787448,-122.415243,Routine - Unscheduled,96.0,2.0,Inadequately cleaned or sanitized food contact...,0,0,0,0,1
20,80451,94114.0,1.415530e+10,NaN,NaN,Reinspection/Followup,NaN,NaN,NaN,0,0,0,1,0
21,88340,94127.0,1.415533e+10,NaN,NaN,Routine - Unscheduled,75.0,1.0,Inadequate or unsanitary refuse containers or ...,0,0,0,0,1
22,90008,94110.0,1.415541e+10,NaN,NaN,Routine - Unscheduled,91.0,3.0,Unclean or unsanitary food contact surfaces,0,0,0,0,1
23,87517,94110.0,1.415583e+10,NaN,NaN,Routine - Unscheduled,81.0,1.0,Permit license or inspection report not posted,0,0,0,0,1
24,80495,94118.0,1.415539e+10,NaN,NaN,Routine - Unscheduled,79.0,1.0,No person in charge of food facility,0,0,0,0,1
25,89196,94134.0,NaN,NaN,NaN,Complaint,NaN,2.0,Inadequately cleaned or sanitized food contact...,1,0,0,0,0
26,65350,94112.0,NaN,37.713426,-122.436347,Routine - Unscheduled,86.0,2.0,Moderate risk vermin infestation,0,0,0,0,1
27,89981,94122.0,1.415567e+10,NaN,NaN,New Ownership,NaN,NaN,NaN,0,0,1,0,0
28,100603,94123.0,1.415599e+10,NaN,NaN,Routine - Unscheduled,96.0,1.0,Improper food storage,0,0,0,0,1
29,3621,94110.0,1.415529e+10,37.758271,-122.419081,Reinspection/Followup,NaN,NaN,NaN,0,0,0,1,0
30,80081,94108.0,NaN,NaN,NaN,Reinspection/Followup,NaN,NaN,NaN,0,0,0,1,0
31,67565,94116.0,NaN,37.742703,-122.482819,Routine - Unscheduled,88.0,1.0,Improper food storage,0,0,0,0,1
32,3623,94110.0,1.415528e+10,37.751554,-122.418376,Routine - Unscheduled,85.0,3.0,Improper cooling methods,0,0,0,0,1
33,78779,94102.0,NaN,NaN,NaN,Routine - Unscheduled,88.0,1.0,Wiping cloths not clean or properly stored or ...,0,0,0,0,1
34,71530,94117.0,NaN,NaN,NaN,Routine - Unscheduled,96.0,1.0,Wiping cloths not clean or properly stored or ...,0,0,0,0,1
35,1598,94109.0,NaN,37.788587,-122.413795,Routine - Unscheduled,92.0,1.0,Improper food storage,0,0,0,0,1
36,101670,94110.0,1.415555e+10,NaN,NaN,New Ownership,NaN,2.0,Moderate risk vermin infestation,0,0,1,0,0
37,34352,94102.0,NaN,37.787978,-122.410904,Routine - Unscheduled,100.0,NaN,NaN,0,0,0,0,1
38,100993,94122.0,1.415267e+10,NaN,NaN,New Construction,NaN,NaN,NaN,0,1,0,0,0
39,473,94133.0,NaN,37.798860,-122.408204,Routine - Unscheduled,90.0,1.0,Unapproved or unmaintained equipment or utensils,0,0,0,0,1
40,4894,94117.0,NaN,37.771748,-122.433493,Routine - Unscheduled,85.0,1.0,Unclean unmaintained or improperly constructed...,0,0,0,0,1
41,3392,94118.0,NaN,37.782103,-122.449132,Routine - Unscheduled,85.0,2.0,Insufficient hot water or running water,0,0,0,0,1
42,2749,94110.0,1.415555e+10,37.745433,-122.419945,Routine - Unscheduled,92.0,1.0,Unapproved or unmaintained equipment or utensils,0,0,0,0,1
43,90213,NaN,1.415561e+10,NaN,NaN,Routine - Unscheduled,96.0,1.0,Other low risk violation,0,0,0,0,1
44,70521,94104.0,NaN,NaN,NaN,Reinspection/Followup,NaN,NaN,NaN,0,0,0,1,0
45,81522,94102.0,NaN,NaN,NaN,Reinspection/Followup,NaN,NaN,NaN,0,0,0,1,0
46,5849,94117.0,1.415576e+10,37.774333,-122.450327,Routine - Unscheduled,100.0,NaN,NaN,0,0,0,0,1
47,88942,94111.0,1.415599e+10,NaN,NaN,Routine - Unscheduled,96.0,2.0,Inadequate and inaccessible handwashing facili...,0,0,0,0,1
48,82407,94102.0,NaN,NaN,NaN,Routine - Unscheduled,100.0,NaN,NaN,0,0,0,0,1
49,6734,94133.0,NaN,37.797178,-122.408477,Routine - Unscheduled,84.0,1.0,Unclean or degraded floors walls or ceilings,0,0,0,0,1

In [13]:
data.head()

,id,zip,phone,lat,lng,type,score,risk,violation
0,70064,94103.0,1.415565e+10,NaN,NaN,Routine - Unscheduled,75.0,3.0,Improper reheating of food
1,90039,94103.0,NaN,NaN,NaN,Routine - Unscheduled,81.0,3.0,High risk food holding temperature
2,89059,94115.0,1.415369e+10,NaN,NaN,Complaint,NaN,NaN,NaN
3,91044,94112.0,NaN,NaN,NaN,Routine - Unscheduled,84.0,2.0,Inadequate and inaccessible handwashing facili...
4,62768,94122.0,NaN,37.765421,-122.477256,Routine - Unscheduled,90.0,1.0,Food safety certificate or food handler card n...

In [2]:
import pandas as pd 

data = pd.read_csv('https://raw.githubusercontent.com/fahadsultan/datascience_ml/main/data/restaurants_truncated.csv', index_col=0)
data.head()

,id,zip,phone,lat,lng,type,score,risk,violation
0,70064,94103.0,1.415565e+10,NaN,NaN,Routine - Unscheduled,75.0,High Risk,Improper reheating of food
1,90039,94103.0,NaN,NaN,NaN,Routine - Unscheduled,81.0,High Risk,High risk food holding temperature
2,89059,94115.0,1.415369e+10,NaN,NaN,Complaint,NaN,NaN,NaN
3,91044,94112.0,NaN,NaN,NaN,Routine - Unscheduled,84.0,Moderate Risk,Inadequate and inaccessible handwashing facili...
4,62768,94122.0,NaN,37.765421,-122.477256,Routine - Unscheduled,90.0,Low Risk,Food safety certificate or food handler card n...


## Missing Data

Missing data occurs commonly in many data analysis applications. One of the goals of pandas is to make working with missing data as painless as possible. For example, all of the descriptive statistics on pandas objects exclude missing data by default.

The way that missing data is represented in pandas objects is somewhat imperfect, but it is sufficient for most real-world use. For data with `float64` dtype, pandas uses the floating-point value `NaN` (Not a Number) to represent missing data.

We call this a _sentinel value_: when present, it indicates a missing (or null) value.

The isna method gives us a Boolean Series with `True` where values are null:

In [44]:
data['violation']

0                            Improper reheating of food
1                    High risk food holding temperature
2                                                   NaN
3     Inadequate and inaccessible handwashing facili...
4     Food safety certificate or food handler card n...
5                                                   NaN
6                                                   NaN
7                                                   NaN
8     Inadequate and inaccessible handwashing facili...
9                                                   NaN
10         Unclean or degraded floors walls or ceilings
11               Foods not protected from contamination
12                     Unclean nonfood contact surfaces
13               Foods not protected from contamination
14          Unclean or unsanitary food contact surfaces
15              Insufficient hot water or running water
16                                                  NaN
17                     Moderate risk vermin infestation
18                                                  NaN
19    Inadequately cleaned or sanitized food contact...
20                                                  NaN
21    Inadequate or unsanitary refuse containers or ...
22          Unclean or unsanitary food contact surfaces
23       Permit license or inspection report not posted
24                 No person in charge of food facility
25    Inadequately cleaned or sanitized food contact...
26                     Moderate risk vermin infestation
27                                                  NaN
28                                Improper food storage
29                                                  NaN
30                                                  NaN
31                                Improper food storage
32                             Improper cooling methods
33    Wiping cloths not clean or properly stored or ...
34    Wiping cloths not clean or properly stored or ...
35                                Improper food storage
36                     Moderate risk vermin infestation
37                                                  NaN
38                                                  NaN
39     Unapproved or unmaintained equipment or utensils
40    Unclean unmaintained or improperly constructed...
41              Insufficient hot water or running water
42     Unapproved or unmaintained equipment or utensils
43                             Other low risk violation
44                                                  NaN
45                                                  NaN
46                                                  NaN
47    Inadequate and inaccessible handwashing facili...
48                                                  NaN
49         Unclean or degraded floors walls or ceilings
Name: violation, dtype: object

In pandas, missing data is also refered to as NA, which stands for _Not Available_. In statistics applications, NA data may either be data that does not exist or that exists but was not observed (through problems with data collection, for example). When cleaning up data for analysis, it is often important to do analysis on the missing data itself to identify data collection problems or potential biases in the data caused by missing data.

The built-in Python `None` value is also treated as NA.

|    Method   |   Description   |
| :------------ | -------------: |
|        `dropna`   | Filter axis labels based on whether values for each label have missing data, with varying thresholds for how much missing data to tolerate.       |
|     `fillna`     |      Fill in missing data with some value    |
| `isna`	| Return Boolean values indicating which values are missing/NA. |
| `notna`	| Negation of `isna`, returns `True` for non-NA values and `False` for NA values. |

## Numerical Features

Numeric data is data that can be represented as numbers. These variables generally describe some numeric _quantity_ or _amount_ and are also sometimes referred to as "quantitative" variables. 

Since numerical features are already represented as numbers, they are already ready to be used in machine learning models and there is no need to encode them.

In the example above, numerical features include `zip`, `phone`, `lat`, `lng`, `score`.

In [99]:
data[['zip', 'phone', 'lat', 'lng', 'score']].head()

     zip  phone        lat         lng  score
0  94105    NaN  37.787925 -122.400953   82.0
1  94109    NaN  37.786108 -122.425764    NaN
2  94115    NaN  37.791607 -122.434563   82.0
3  94115    NaN  37.788932 -122.433895   78.0
4  94110    NaN  37.739161 -122.416967   94.0

### Discrete Features

Discrete data is data that is counted. For example, the number of students in a class is discrete data. You can count the number of students in a class. You can not count the number of students in a class and get a fraction of a student. You can only count whole students.

In the restaurants inspection data set, `zip`, `phone`, `score` are discrete features.

In [100]:
data[['zip', 'phone', 'score']].head()

     zip  phone  score
0  94105    NaN   82.0
1  94109    NaN    NaN
2  94115    NaN   82.0
3  94115    NaN   78.0
4  94110    NaN   94.0

### Continuous Features

Continuous data is data that is measured. For example, the height of a student is continuous data. You can measure the height of a student. You can measure the height of a student and get a fraction of a student. You can measure a student and get a height of 5 feet and 6.5 inches.

In the restaurants inspection data set, `lat`, `lng` are continuous features.

In [101]:
data[['lat', 'lng']].head()

         lat         lng
0  37.787925 -122.400953
1  37.786108 -122.425764
2  37.791607 -122.434563
3  37.788932 -122.433895
4  37.739161 -122.416967

## Categorical Features

Categorical data is data that is not numeric. It is often represented as text or a set of text values. These variables generally describe some _characteristic_ or _quality_ of a data unit, and are also sometimes referred to as "qualitative" variables.

In [103]:
data[['type', 'risk', 'violation']].head()

,type,risk,violation
0,Routine - Unscheduled,High Risk,High risk food holding temperature
1,Complaint,NaN,NaN
2,Routine - Unscheduled,Low Risk,Inadequate warewashing facilities or equipment
3,Routine - Unscheduled,Low Risk,Improper food storage
4,Routine - Unscheduled,Low Risk,Unapproved or unmaintained equipment or utensils

### Ordinal Features

Ordinal data is data that is ordered in some way. For example, the size of a t-shirt is ordinal data. The sizes are ordered from smallest to largest. The sizes are more or less than each other. They are different and ordered.

In [105]:
data[['risk']].head()

        risk
0  High Risk
1        NaN
2   Low Risk
3   Low Risk
4   Low Risk

#### Encoding Ordinal Features

Ordinal features can be encoded using a technique called **label encoding**. Label encoding is simply converting each value in a column to a number. For example, the sizes of t-shirts could be represented as 0 (XS), 1 (S), 2 (M), 3 (L), 4 (XL), 5 (XXL).

In [109]:
data['risk_enc'] = data['risk'].replace({'Low Risk': 0, 'Moderate Risk': 1, 'High Risk': 2})
data.head()

,id,zip,phone,lat,lng,type,score,risk,violation,risk_enc
0,64454,94105,NaN,37.787925,-122.400953,Routine - Unscheduled,82.0,High Risk,High risk food holding temperature,2.0
1,33014,94109,NaN,37.786108,-122.425764,Complaint,NaN,NaN,NaN,NaN
2,1526,94115,NaN,37.791607,-122.434563,Routine - Unscheduled,82.0,Low Risk,Inadequate warewashing facilities or equipment,0.0
3,73,94115,NaN,37.788932,-122.433895,Routine - Unscheduled,78.0,Low Risk,Improper food storage,0.0
4,66402,94110,NaN,37.739161,-122.416967,Routine - Unscheduled,94.0,Low Risk,Unapproved or unmaintained equipment or utensils,0.0

### Nominal Features

Nominal data is data that is not ordered in any way. For example, the color of a car is nominal data. There is no order to the colors. The colors are not more or less than each other. They are just different.

In [ ]:
data[['type', 'violation']].head()

                    type                                         violation
0  Routine - Unscheduled                High risk food holding temperature
1              Complaint                                               NaN
2  Routine - Unscheduled    Inadequate warewashing facilities or equipment
3  Routine - Unscheduled                             Improper food storage
4  Routine - Unscheduled  Unapproved or unmaintained equipment or utensils

#### Encoding Nominal Features

Since nominal features don't have any order, encoding them requires some creativity. The most common way to encode nominal features is to use a technique called **one-hot encoding**. One-hot encoding creates a new column for each unique value in the nominal feature. Each new column is a binary feature that indicates whether or not the original observation had that value. 

The figure below illustrates how one-hot encoding for a "day" (of the week) column: 

```{figure} https://raw.githubusercontent.com/fahadsultan/datascience_ml/main/assets/ohe.png
---
width: 65%
name: directive-fig
---
One-hot encoding
```

pandas has a built-in `.get_dummies` function for doing this:

In [130]:
pd.get_dummies(data['type']).head()

,Complaint,New Construction,New Ownership,Reinspection/Followup,Routine - Unscheduled
0,0,0,0,0,1
1,0,0,0,0,1
2,1,0,0,0,0
3,0,0,0,0,1
4,0,0,0,0,1